<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TableHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TableHost.Properties.Settings>
            <setting name="ParamServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ParamPort" serializeAs="String">
                <value>5444</value>
            </setting>
            <setting name="ParamUserId" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>FINAL</value>
            </setting>
        </TableHost.Properties.Settings>
    </applicationSettings>
</configuration>